<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap demo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>

  <div class="row header justify-content-md-center align-middle">
    <div class="col-sm-2"></div>
    <div class="col">
      <img src="../assets/img/logo_jaliscosedefiende.svg">
    </div>
    <div class="col">
      <img src="../assets/img/logo_jal.svg">
    </div>
    <div class="col-sm-3"></div>
    <div class="col mt-auto mb-auto"><label>Calculadora</label></div>
    <div class="col mt-auto mb-auto"><label ><img src="../assets/img/ico_avisoprivacidad.svg"> Aviso de Privacidad</label></div>
    <div class="col"></div>
  </div>

  <router-outlet ></router-outlet>

  <div class="row footer justify-content-md-center">
    <div class="col"></div>
    <div class="col">
      <img src="../assets/img/Group 4009.svg">
    </div>
    <div class="col">
      <img src="../assets/img/Group 4023.svg">
    </div>
    <div class="col">
      <img src="../assets/img/Group 3997.svg">
    </div>
    <div class="col">
      <img src="../assets/img/Group 3999.svg">
    </div>
    <div class="col">
      <img src="../assets/img/Group 4000.svg">
    </div>
    <div class="col">
      <img src="../assets/img/Group 4112.png">
    </div>
    <div class="col">
      <img src="../assets/img/Group 5363.png">
    </div>
    <div class="col"></div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
</body>

</html>