<div class="container registro-content">
    <!--    ******************
            Titulo de pantalla
            ******************
     -->
    <div class="row justify-content-end">
        <div class="col-sm-5">
            <div class="titulo"><span class="badge bg-tres">✓</span> Registro concluido</div>
        </div>
        <div class="col"></div>
        <div class="col-sm-5 d-flex justify-content-end">
            <div class="ico-cancel-content">
                <label class="m-1"> <img class="ico-cancel" src="../../assets/img/ico_cancel.svg">Quiero cancelar mi
                    cita</label>
            </div>
        </div>

    </div>
    <!--    ************************
            Contenedores de pantalla
            ************************
    -->
    <div class="row">
        <div class="card mt-2">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6 d-flex mt-2">
                        <div class="d-block">
                            <label class="nutmeg-regular-13 color-cuatro">CURP:</label>
                        </div>
                        <div class="curp-data">
                            <label class="nutmeg-bold-20  color-cuatro">XEXX010101MNEXXXA8</label>
                            <label class="nutmeg-bold-20  color-cuatro">MARTHA ALICIA CARMONA SOLIS</label>

                        </div>
                    </div>
                    <div class="col"></div>
                    <div class="col-sm-5 d-flex justify-content-end campania-card">
                        <div class="d-block">
                            <img src="../../assets/img/Group 5447.svg">
                        </div>
                        <div class="text-left d-block">
                            <label class="color-uno nutmeg-black-13 ">Personas de 18 y más</label>
                            <label class="nutmeg-black-italic-18 color-dos"><span class="badge bg-dos">1</span>Primera
                                Dosis
                            </label>
                            <label class="nutmeg-black-13  color-tres">ASTRA ZENECA</label>
                            <label class="nutmeg-black-13  color-cuatro">Zapopan</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="card mt-4 ">
            <div class="row modulo-content">
                <div class="col">
                    <label class="nutmeg-bold-20  color-cuatro">M&oacute;dulo</label>
                    <label class="nutmeg-bold-20">Auditorio Benito Juarez.</label>
                </div>
                <div class="col">
                    <label class="nutmeg-bold-20 color-cuatro">Direcci&oacute;n</label>
                    <label class="nutmeg-bold-20">Av.Mariano Barcenas s/n<br>
                        Col. Auditorio 45910<br> Zapopan, Jalisco</label>
                </div>
                <div class="col">
                    <label class="nutmeg-bold-20 color-cuatro">Fecha y Hora</label>
                    <div class="nutmeg-bold-20 modulo-fecha bg-dos">Lunes 11 de Octubre 7:30 am</div>
                </div>
            </div>
        </div>

        <div class="nutmeg-bold-20 color-cuatro mt-3 ">Ya tienes asegurado el lugar y hora para tu vacunación,ahora,
            para asegurar tu dosis es muy importante que tambien te registres en la plataforma federal. Ingresa a
            <a class="color-dos">https://mivacuna.salud.gob.mx/</a> para obtener tu expendiente de vacnunacion.
            Recomendaciones para el día de tu
            vacunacion
        </div>


    </div>
</div>