<div class="container">
    <!--    *****************
            Imagenes de fondo 
            *****************
    -->
    <img class="left-row-img" src="../../assets/img/img_left.png">
    <img class="rigth-row-img" src="../../assets/img/img_left.png">
    <img class="back-puntos-img" src="../../assets/img/img_back_puntos.svg">
    <div class="tel-img-content bg-dos">
        <label> <img class="tel-img" src="../../assets/img/ico_tel.svg">33 3823 3220</label>
    </div>
    <div class="card curp-search-content">

        <div class="card-body">
            <!--    ******************
                    Titulo de pantalla
                    ******************
             -->
            <h1 class="titulo text-center">Campañas activas de vacunación contra Covid-19 (ZMG)</h1>
            <div class="row justify-content-md-center">
                <!--    ************************
                        Contenedores de pantalla
                        ************************
                -->
                <div class="col-sm-5">
                    <div class="card text-left personas-card ">
                        <img src="../../assets/img/Group 5447.svg">
                        <label class="color-uno nutmeg-black-13 ">Personas de 18 y más</label>
                        <p class="nutmeg-black-italic-18 color-dos"><span class="round">1</span><label>Primera
                                Dosis</label></p>
                    </div>
                </div>

                <div class="col-sm-5">
                    <div class="card text-left personas-card">
                        <img src="../../assets/img/Group 5447.svg">
                        <label class="color-uno nutmeg-black-13 ">Personas de 18 y más</label>
                        <label class="nutmeg-black-italic-18 color-dos"><span class="round">2</span> Primera
                            Dosis</label>
                        <label class="nutmeg-black-13  color-tres">ASTRA ZENECA</label>
                        <label class="color-tres nutmeg-bold-16 ">Primera dosis aplicada antes del 15 de Agosto</label>
                    </div>
                </div>
            </div>
            <hr>

            <!--    ************************
                    Contenedor para peticion
                    ************************
             -->

            <h1 class="nutmeg-bold-25 color-dos">Comenzar ahora</h1>
            <label class="color-cuatro nutmeg-regular-15">Ingresa tu CURP para agendar una cita<br>
                o para <a class="nutmeg-regular-italic-25  color-dos">cancelar una cita</a> ya registrada.</label>

            <div class="row mt-4">
                <div class="col-sm-7">
                    <div class="input-content">
                        <input type="text" placeholder="Introduce tu CURP">
                        <img src="../../assets/img/ico_user.svg">
                    </div>
                </div>
                <div class="col-sm-4">
                    <button routerLink="registro-concluido" class="form-control bg-uno text-white">Continuar</button>
                </div>
            </div>
            <p class="nutmeg-book-13 color-cuatro mt-3">Si no conoces tu CURP <a
                    class="nutmeg-book-bold-13  color-dos">consulta aquí</a></p>

        </div>
    </div>
</div>